body {
  background: $body_background;
  font-family: "Raleway", sans-serif;
  transition: all .2s ease-in-out;

  a {
    color: $default;

    &:hover {
      color: darken($default, 20%)
    }
  }

  // Navbar
  .navbar {
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    &.navbar-default {
      background: $default;

      .navbar-brand {
        color: $navbar_content_color;
      }

      .navbar-nav {
        > .active {
          > a {
            color: $navbar_content_color;
            background: darken($default, 20%);

            &:hover, &:active, &:focus {
              background: darken($default, 20%);
            }
          }
        }

        > li {
          > a {
            color: $navbar_content_color;

            &:hover, &:active, &:focus {
              background: darken($default, 10%);
            }
          }
        }

        > .open {
          > a, > a:focus, > a:active, > a:hover {
            background: darken($default, 10%);
            color: $navbar_content_color;
          }
        }
      }
    }

    .navbar-form {
      .form-group {
        .form-control {
          padding: 3px 6px;
        }
      }
    }
  }

  // Buttons
  .btn {
    border-radius: 0px;
    border: none;
    transition: all .2s ease-in-out;
    padding: 8px 30px;

    &:hover {
      border: none;
    }

    &:not(.btn-flat) {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      &:hover, &:active, &:focus {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
      }
    }

    &.btn-default {
      box-shadow: none;
      padding: 6px 12px;

      &:hover, &:focus, &:active {
        background: #FFFFFF;
      }
    }

    &.btn-primary {
      background: $primary;

      &:hover {
        background: darken($primary, 15%);
      }
    }

    &.btn-secondary {
      background: $secondary;
      color: $white_text;

      &:hover {
        background: darken($secondary, 15%);
      }
    }

    &.btn-tertiary {
      background: $tertiary;
      color: $white_text;

      &:hover {
        background: darken($tertiary, 15%);
      }
    }

    &.btn-success {
      background: $success;

      &:hover {
        background: darken($success, 15%);
      }
    }

    &.btn-info {
      background: $info;

      &:hover {
        background: darken($info, 15%);
      }
    }

    &.btn-warning {
      background: $warning;

      &:hover {
        background: darken($warning, 15%);
      }
    }

    &.btn-danger {
      background: $danger;

      &:hover {
        background: darken($danger, 15%);
      }
    }

    &.btn-lg {
      font-size: 16px;
    }

    &.btn-sm {
      padding: 5px 20px;
      font-size: 12px;
    }

    &.btn-xs {
      padding: 4px 15px;
      font-size: 10px;
    }

    &.btn-fab {
      border-radius: 50%;
      font-size: 24px;
      height: 56px;
      margin: auto;
      min-width: 56px;
      width: 56px;
      padding: 0;
      overflow: hidden;
      position: relative;
      line-height: normal;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-12px, -12px);
        line-height: 24px;
        width: 24px;
        vertical-align: middle;
      }

      &.btn-lg {
        width: 75px;
        height: 75px;
        line-height: 75px;

        i {
          font-size: 35px;
        }
      }

      &.btn-sm {
        width: 45px;
        height: 45px;
        line-height: 45px;
        min-width: 45px;

        i {
          font-size: 18px;
        }
      }

      &.btn-xs {
        width: 25px;
        height: 25px;
        line-height: 25px;
        min-width: 25px;

        i {
          font-size: 10px;
        }
      }
    }
  }

  // Typography
  .text-primary {
    color: $primary;
  }

  .text-warning {
    color: $warning;
  }

  .text-danger {
    color: $danger;
  }

  .text-info {
    color: $info;
  }

  .text-success {
    color: $success;
  }

  // Tables
  table.table {
    tr.info {
      td {
        background: lighten($info, 42%);
      }

      &:hover, &:focus, &:active {
        td {
          background: lighten($info, 38%);
        }
      }
    }

    tr.success {
      td {
        background: lighten($success, 38%);
      }

      &:hover, &:focus, &:active {
        td {
          background: lighten($success, 34%);
        }
      }
    }

    tr.warning {
      td {
        background: lighten($warning, 28%);
      }

      &:hover, &:focus, &:active {
        td {
          background: lighten($warning, 24%);
        }
      }
    }

    tr.danger {
      td {
        background: lighten($danger, 30%);
      }

      &:hover, &:focus, &:active {
        td {
          background: lighten($danger, 26%);
        }
      }
    }
  }

  // Forms
  form {
    .form-group {
      position: relative;
      margin-bottom: 30px;

      .form-control {
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        border:none;
        border-bottom:1px solid $primary;
        height: auto;
        border-radius: 0px;
        box-shadow: none;

        &:focus {
          outline:none;
          box-shadow: none;

          ~ label {
            top:-20px;
            font-size:14px;
            color: $primary;
          }

          ~ .bar:before, ~ .bar:after {
            width: 50%;
          }
        }

        &:valid ~ label {
          top:-20px;
          font-size:14px;
          color:$primary;
        }

        &.has-error {
          border-bottom: 1px solid $danger;
          &:focus ~ label {
            color: $danger;
          }

          &:valid ~ label {
            color: $danger;
          }
        }
      }

      label {
        color:#999;
        font-size:18px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all;

        &.has-error {
          color: $danger;
        }
      }

      .bar {
        position:relative;
        display:block;
        width:100%;

        &:before, &:after {
          content:'';
          height:2px;
          width:0;
          bottom:1px;
          position:absolute;
          background:$primary;
          transition:0.2s ease all;
        }

        &.has-error {
          &:before, &:after {
            background: $danger;
          }
        }

        &:before {
          left:50%;
        }

        &:after {
          right:50%;
        }
      }
    }
  }

  // Navs
  ul.nav {
    &.nav-tabs {
      > li {
        > a {
          border-radius: 0px;
        }
      }
    }

    .open {
      > a, > a:focus, > a:hover {
        border-color: $default;
      }
    }

    &.nav-pills {
      > li {
        > a {
          border-radius: 0px;
        }

        &.active {
          a, a:focus, a:active, a:hover {
            background: $default;

            > .badge {
              color: $default;
            }
          }
        }
      }
    }
  }

  .tab-content {
    > .active {
      background: #FFFFFF;
      padding: 10px;
      border-left: solid 1px #DDDDDD;
      border-right: solid 1px #DDDDDD;
      border-bottom: solid 1px #DDDDDD;
    }
  }

  .breadcrumb {
    background: transparent;
  }

  .pagination {
    border-radius: 0px;

    > li {
      &:first-child, &:last-child {
        a, span {
          border-radius: 0px;
        }
      }

      a {
        color: $default;

        &:hover, &:active, &:focus {
          color: darken($default, 20%);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          background: #FFFFFF;
        }
      }

      &.active {
        a {
          background: $default;
          border-color: $default;
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

          &:hover, &:active, &:focus {
            background: $default;
            border-color: $default;
          }
        }
      }
    }
  }

  .pager {
    > li {
      > a {
        &:hover, &:focus, &:active {
          background: #FFFFFF;
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  // Indicators
  .alert {
    border-radius: 0px;

    &.alert-warning {
      color: lighten($warning, 30%);
      background: darken($warning, 18%);
    }

    &.alert-danger {
      color: lighten($danger, 35%);
      background: darken($danger, 1%);

      .alert-link {
        color: lighten($danger, 40%);
      }
    }

    &.alert-success {
      color: lighten($success, 35%);
      background: darken($success, 1%);

      .alert-link {
        color: lighten($success, 40%);
      }
    }

    &.alert-info {
      color: lighten($info, 38%);
      background: darken($info, 1%);

      .alert-link {
        color: lighten($info, 40%);
      }
    }

    button.close {
      color: lighten($warning, 30%);
      opacity: .8;
    }
  }

  .label {
    border-radius: 0px;

    &.label-default {
      background: $default;
    }

    &.label-primary {
      background: $primary;
    }

    &.label-success {
      background: $success;
    }

    &.label-warning {
      background: $warning;
    }

    &.label-danger {
      background: $danger;
    }

    &.label-info {
      background: $info;
    }
  }

  .badge {
    background: $default;
  }

  // Progress bars
  .progress {
    .progress-bar {
      background-color: $default;

      &.progress-bar-info {
        background-color: $info;
      }

      &.progress-bar-success {
        background-color: $success;
      }

      &.progress-bar-warning {
        background-color: $warning;
      }

      &.progress-bar-danger {
        background-color: $danger;
      }
    }
  }

  // Containers
  .container{
    .jumbotron {
      border-radius: 0px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .list-group {
      .list-group-item {
        &:first-child, &:last-child {
          border-radius: 0px;
        }

        &.active, &.active:hover, &.active:focus, &.active:active {
          background: $default;
          border-color: $default;
        }
      }
    }

    .well {
      padding: 20px;
      border-radius: 0px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .card {
      background: #fff;
      border-radius: 2px;
      display: inline-block;
      height: auto;
      margin: 1rem;
      position: relative;
      width: 100%;
      padding: 40px;

      &.default {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      &.deep {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
      }

      &.deeper {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
      }

      &.hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
      }
    }

    .panel {
      border-radius: 0px;
      border: none;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      &.panel-primary {
        > .panel-heading {
          background: $primary;
          border-radius: 0px;

          .panel-title {
            color: #FFFFFF;
          }
        }
      }

      &.panel-success {
        > .panel-heading {
          background: $success;
          border-radius: 0px;

          .panel-title {
            color: #FFFFFF;
          }
        }
      }

      &.panel-warning {
        > .panel-heading {
          background: $warning;
          border-radius: 0px;

          .panel-title {
            color: #FFFFFF;
          }
        }
      }

      &.panel-danger {
        > .panel-heading {
          background: $danger;
          border-radius: 0px;

          .panel-title {
            color: #FFFFFF;
          }
        }
      }

      &.panel-info {
        > .panel-heading {
          background: $info;
          border-radius: 0px;

          .panel-title {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}