$body_background: #EEEEEE;

$default_text: rgba(0,0,0,.87);
$white_text: #FFFFFF;

$primary: #78909C;
$danger: #F44336;
$default: #78909C;
$warning: #f0ad4e;
$info: #03A9F4;
$success: #4CAF50;
$secondary: #ff5a92;
$tertiary: #009688;


$navbar_content_color: $white_text;