$body_background: #EEEEEE !default;

$default_text: rgba(0,0,0,.87) !default;
$white_text: #FFFFFF !default;

$primary: #9C27B0 !default;
$danger: #F44336 !default;
$default: $primary !default;
$warning: #f0ad4e !default;
$info: #03A9F4 !default;
$success: #4CAF50 !default;
$secondary: #ff5a92 !default;
$tertiary: #009688 !default;

$navbar_content_color: $white_text !default;
$navbar_primary_background: $tertiary !default;
$navbar_primary_content_color: $white_text !default;